
.vs/EmpaticaDataProvider/v15/Server/sqlite3/storage.ide-wal
.vs/EmpaticaDataProvider/v15/Server/sqlite3/storage.ide-shm
.vs/EmpaticaDataProvider/v15/Server/sqlite3/storage.ide
.vs/EmpaticaDataProvider/v15/.suo
